// background logo
.logo-bg {
  background-image: url("assets/easy_epos_logo.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}
// costum button
.cbtn {
  border-radius: 5px;
  width: auto;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
